@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

:root {
  --primary: var(--color-neutral-300);
  --primary-t: var(--color-neutral-700);

  --secondary: var(--color-neutral-200);
  --secondary-t: var(--color-neutral-800);

  --most: var(--color-neutral-100);
  --mos-t: var(--color-neutral-700);

  --most-secondary: var(--color-white);
  --most-secondary-t: var(--color-black);

  --action: var(--color-blue-700);
  --action-hover: var(--color-blue-800);

  --border-100: var(--color-gray-400);
  --border-200: var(--color-gray-300);
  --border-300: var(--color-gray-200);

  --white-100: rgba(0, 0, 0, 0.1);
  --white-200: rgba(0, 0, 0, 0.2);
  --white-300: rgba(0, 0, 0, 0.3);
  --white-400: rgba(0, 0, 0, 0.4);
  --white-500: rgba(0, 0, 0, 0.5);
  --white-600: rgba(0, 0, 0, 0.6);
  --white-700: rgba(0, 0, 0, 0.7);
  --white-800: rgba(0, 0, 0, 0.8);
  --white-900: rgba(0, 0, 0, 0.9);

  --black-100: rgba(255, 255, 255, 0.1);
  --black-200: rgba(255, 255, 255, 0.2);
  --black-300: rgba(255, 255, 255, 0.3);
  --black-400: rgba(255, 255, 255, 0.4);
  --black-500: rgba(255, 255, 255, 0.5);
  --black-600: rgba(255, 255, 255, 0.6);
  --black-700: rgba(255, 255, 255, 0.7);
  --black-800: rgba(255, 255, 255, 0.8);
  --black-900: rgba(255, 255, 255, 0.9);

  --error: var(--color-red-600);
  --scrollbar-thumb:rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--color-neutral-950);
    --primary-t: var(--color-neutral-400);

    --secondary: var(--color-neutral-900);
    --secondary-t: var(--color-neutral-300);

    --most: var(--color-neutral-800);
    --mos-t: var(--color-neutral-200);

    --most-secondary: var(--color-neutral-700);
    --most-secondary-t: var(--color-neutral-50);

    --action: var(--color-blue-500);
    --action-hover: var(--color-blue-600);
    --border-100: var(--color-neutral-700);
    --border-200: var(--color-neutral-600);
    --border-300: var(--color-neutral-500);

    --black-100: rgba(0, 0, 0, 0.1);
    --black-200: rgba(0, 0, 0, 0.2);
    --black-300: rgba(0, 0, 0, 0.3);
    --black-400: rgba(0, 0, 0, 0.4);
    --black-500: rgba(0, 0, 0, 0.5);
    --black-600: rgba(0, 0, 0, 0.6);
    --black-700: rgba(0, 0, 0, 0.7);
    --black-800: rgba(0, 0, 0, 0.8);
    --black-900: rgba(0, 0, 0, 0.9);

    --white-100: rgba(255, 255, 255, 0.1);
    --white-200: rgba(255, 255, 255, 0.2);
    --white-300: rgba(255, 255, 255, 0.3);
    --white-400: rgba(255, 255, 255, 0.4);
    --white-500: rgba(255, 255, 255, 0.5);
    --white-600: rgba(255, 255, 255, 0.6);
    --white-700: rgba(255, 255, 255, 0.7);
    --white-800: rgba(255, 255, 255, 0.8);
    --white-900: rgba(255, 255, 255, 0.9);

    --error: var(--color-red-400);
    --scrollbar-thumb:rgba(255, 255, 255, 0.2);
  }
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-most: var(--most);
  --color-most-secondary: var(--most-secondary);

  --color-action: var(--action);
  --color-action-hover: var(--action-hover);

  --color-primary-text: var(--primary-t);
  --color-secondary-text: var(--secondary-t);
  --color-most-text: var(--mos-t);
  --color-most-secondary-text: var(--most-secondary-t);

  --color-color-100: var(--border-100);
  --color-color-200: var(--border-200);
  --color-color-300: var(--border-300);

  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);
  --color-black-600: var(--black-600);
  --color-black-700: var(--black-700);
  --color-black-800: var(--black-800);
  --color-black-900: var(--black-900);

  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
  --color-white-400: var(--white-400);
  --color-white-500: var(--white-500);
  --color-white-600: var(--white-600);
  --color-white-700: var(--white-700);
  --color-white-800: var(--white-800);
  --color-white-900: var(--white-900);

  --color-error: var(--error);
  --color-scrollbar-thumb:var(--scrollbar-thumb)
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.footer {
  background: radial-gradient(35% 100% at 50% 110%, rgba(2, 175, 239, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
  overflow: visible;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--most) inset;
  /* your desired bg */
  -webkit-box-shadow: 0 0 0 1000px var(--most) inset;
  -webkit-text-fill-color: var(--secondary-t);
  transition: background-color 5000s ease-in-out 0s;
  /* hack to prevent reset */
}

/* On hover/focus of autofilled input */
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  box-shadow: 0 0 0 1000px var(--most) inset;
  /* your desired bg */
  -webkit-text-fill-color: var(--secondary-t);
}



/* Optional: convenience button classes */
[class *= btn-] {
  @apply px-3.5 py-1.5 font-medium capitalize cursor-pointer rounded-lg disabled:cursor-not-allowed disabled:pointer-events-none disabled:select-none;
}

.btn-primary {
  @apply  bg-action text-white hover:bg-action-hover;
}

.btn-secondary {
  @apply  transition-colors duration-150 bg-secondary text-primary-text hover:bg-primary focus:outline-none focus:ring-2 focus:ring-action focus:ring-offset-2 focus:ring-offset-most;
}

.btn-most {
  @apply rounded-lg bg-white-200 text-secondary-text hover:bg-white-100  text-center;
}

.btn-secondary-active {
  @apply  transition-colors duration-150 bg-sky-600 text-white;
}

.btn-ghost {
  @apply p-2 rounded-4xl bg-white-100 text-most-text hover:bg-white-200 w-10 h-10 text-center;
}

.btn-border {
  @apply rounded-lg text-secondary-text hover:bg-white-100 text-center border border-color-100 hover:border-color-200;
}

.h-available {
  @apply h-[-webkit-fill-available];
}
/* For Chrome, Edge, Safari */
 /* ::-webkit-scrollbar {
  all: unset;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
  border: 1px solid #6b6b6b;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 9999px;
  border: 4px solid #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
  background: #939393; 
}   */



@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #939393 #1a1a1a;
  }
}

button {
  cursor: pointer;
}

button:hover, [class *= btn-]:hover {
  cursor: pointer;
}